@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

body {
    @apply font-montserrat;
}

.slick-slide {
    filter: grayscale(.7) brightness(0.5);
}

.slick-center {
    filter: unset !important;
}

.slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-dots li button:before {
    content: '' !important;
}

.slick-dots li button {
    width: 12px !important;
    height: 12px !important;
    background: rgba(255, 255, 255, .5) !important;
    border-radius: 50% !important;
}

.slick-dots li.slick-active button {
    height: 12px !important;
    width: 20px !important;
    overflow: hidden;
    background: #E74C3C !important;
    border: none;
    border-radius: 4px !important;
}

.basis-50 {
    flex-basis: 50%;
}

.basis-20 {
    flex-basis: 20%;
}